[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/diego/Desktop/hippity-nivel-3.pdf]
row=3
col=0

[/home/diego/Desktop/steam.desktop]
row=0
col=1

[/home/diego/Desktop/DeepLearningBook_Goodfellow.pdf]
row=1
col=0

[/home/diego/Desktop/latin-book.pdf]
row=0
col=0

[/home/diego/Desktop/CV.pdf]
row=5
col=0

