[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/diego/Desktop/dwm]
row=0
col=0

[/home/diego/Desktop/dutch_helthstuff.pdf]
row=1
col=0

[/home/diego/Desktop/bartholomew2010.pdf]
row=2
col=0

