[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/diego/Desktop/Wine-MD]
row=2
col=0

[/home/diego/Desktop/steam.desktop]
row=0
col=0

[/home/diego/Desktop/Efficient Estimation of Word Representations inVector Space - Mikolov.pdf]
row=1
col=0

[ed304b50-6c63-41e0-b4e7-72874118ea1f]
row=3
col=0

